<h2>Post list:</h2>

{{#each posts}}

  <div class="post-item">
    <p>Title: {{this.title}}</p>
    <p>Description: {{this.description}}</p>
  </div>

{{/each}}

<a href="/posts/new">Add new post</a>