<h2>Add new post</h2>

<form action="" method="POST" enctype="multipart/form-data">
<input type="text" placeholder="title" id="title">
<input type="text" placeholder="description" id="description">
<input type="file" id="my-file" accept="image/png, image/jpeg">
<button type="submit">Add post</button>
</form>