<h1>Add new post</h1>

<form action="/posts/add" method="post" enctype="multipart/form-data">
  <input type="text" name="title" placeholder="Add title">
  <input type="text" name="description" placeholder="Add your post">
  <input type='file' name='image' />
  <button type="submit">POST</button>
</form>