<h2>New Post</h2>
<form action="/posts" enctype="multipart/form-data" method="POST">
    <input type="text" name="title" placeholder="Enter title">
     <input type="text" name="description" placeholder="Enter text">
     <button type="submit">Send</button>


</form>