<h2>Add Post</h2>


<form action="new" method="POST" enctype="multipart/form-data">
   <input type='file' name='image' />
  <label >Title:</label>
  <input type="text" name="title">
  <br>
  <label >Description:</label>
  <input type="text" name="description">
  <button type="submit">Add</button>
</form>

