<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
{{!-- <a href="posts/index">View Posts</a> --}}
{{!-- <a href="/posts/index">View Posts</a> --}}
{{!-- <a href="../posts/index">View Posts</a> --}}
{{!-- <a href="views/posts/index">View Posts</a> --}}
{{!-- <a href="../views/posts/index">View Posts</a> --}}
{{!-- <a href="./views/posts/index">View Posts</a> --}}
{{!-- <a href="/index">View Posts</a> --}}
{{!-- <a href="../index">View Posts</a> --}}
<a href="/posts">View Posts</a>

{{!-- I SERIOUSLY HATE CODING SOMETIMES --}}