body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.post-item{
  margin: 45px 25px;
}

.message-error{
  background-color: yellow;
  color: red;
}